[submodule "libs/lpac-jni/src/main/jni/lpac"]
	path = libs/lpac-jni/src/main/jni/lpac
	url = https://github.com/sekaiacg/lpac
	branch = modify
[submodule "libs/lpac-jni/src/main/jni/cjson"]
	path = libs/lpac-jni/src/main/jni/cjson
	url = https://github.com/CoelacanthusHex/cJSON
	branch = fix-as-subproject
